<div class="container message text-break mb-4" id="message-<%= message.id %>">
  <div class="row">
    <div class="col-1">
      <p>画像が入る予定</p>
    </div>
    <div class="col-8">
      <p><%= message.id %>: <%= message.user.email %></p>
      <div class="card p-2"><%= simple_format(h message.content) %></div>
    </div>
    <div class="col-2 align-self-end">
      <%= l message.created_at, format: :short %>
    </div>
  </div>
</div>  
