<div class="message text-break" id="message-<%= message.id %>">
  <p><%= message.id %>: <%= message.user.email %>: <%= l message.created_at, format: :short %></p>
  <%= simple_format(h message.content) %>
</div>  
