<div class="col-md-7 col-lg-5">
  <div class="card my-5">
    <div class="card-body">
      <h1 class="text-center">アカウント編集</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>

        <div class="mb-3">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', required: true %>
        </div>

        <div class="mb-3">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>

          <div class="form-text"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></div>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control', required: true %>

          <div class="form-text"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></div>
        </div>

        <div class="d-grid">
          <%= f.submit t('.update'), class: 'btn btn-success' %>
        </div>
      <% end %>

      <hr class="mt-3">

      <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: 'link-secondary' %>
    </div>
  </div>
</div>
