<tr>
  <th scope="row"><%= user.id %></th>
  <td><%= user.email %></td>
  <td>
    <%= form_with url: rooms_directs_path do |f| %>
      <%= hidden_field_tag :user_id, user.id %>
      <%= f.submit 'Roomを作成', class: 'btn btn-success', data: { rspec: "create_direct_chat_with_#{user.id}" } %>
    <% end %>
  </td>
</tr>
