<div class="card my-2 room-card">
  <div class="row">
    <div class="col-4 d-none d-md-none d-lg-block border-end px-0 overflow-auto room-card__users-list">
      <% 15.times do %>
        <%= render 'user' %>
      <% end %>
    </div>

    <div class="col-lg-8 px-0">
      <div class="card-body border-bottom">
        <div class="row">
          <div class="col-1">
            <img src="https://placehold.jp/300x300.png" alt="avatar" class="img-fluid">
          </div>
          <div class="col-8 align-self-center">
            <p class="mb-0">user2</p>
          </div>
        </div>
      </div>

      <div class="container overflow-auto room-card__msg-container" id="message-container">
        <%= render @messages %>
      </div>

      <div class="card-body border-top">
        <%= form_with model: @message, local: false, id: 'form' do |f| %>
          <div class="row">
            <div class="col-10">
              <%= f.text_area :content, class: 'form-control msg-footer__textarea', rows: '1', maxlength: '500' %>
            </div>

            <div class="col-2 align-self-center">
              <%= f.submit 'é€ä¿¡', class: 'btn btn-success disabled', id: 'message-button' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
